flows.json
[{"id":"5b79d8dc.abbc48","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"8d00e887.dc1a28","type":"ttn uplink","z":"5b79d8dc.abbc48","name":"uno1","app":"9319dc3.7cc052","dev_id":"","field":"","x":90,"y":100,"wires":[["507c6ea.538c99","e9aceea0.8e4ca","5173b320.349acc","d868d4af.207838","773d5ea7.8997f"]]},{"id":"5173b320.349acc","type":"debug","z":"5b79d8dc.abbc48","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":410,"y":40,"wires":[]},{"id":"4fd0af7c.30698","type":"ttn event","z":"5b79d8dc.abbc48","name":"","app":"9319dc3.7cc052","dev_id":"","event":"#","x":100,"y":380,"wires":[[]]},{"id":"507c6ea.538c99","type":"ui_text","z":"5b79d8dc.abbc48","group":"dfe15c4d.c9224","order":0,"width":0,"height":0,"name":"","label":"debug","format":"{{msg.payload}}","layout":"col-center","x":550,"y":180,"wires":[]},{"id":"2a6e7446.99804c","type":"change","z":"5b79d8dc.abbc48","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":660,"y":80,"wires":[[]]},{"id":"ae5f1eb5.11cc8","type":"ui_gauge","z":"5b79d8dc.abbc48","name":"","group":"dfe15c4d.c9224","order":1,"width":0,"height":0,"gtype":"gage","title":"Suhu","label":"Celcius","format":"{{value}}","min":"20","max":"50","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":550,"y":220,"wires":[]},{"id":"da8e7381.6b0ef","type":"debug","z":"5b79d8dc.abbc48","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":550,"y":300,"wires":[]},{"id":"e9aceea0.8e4ca","type":"function","z":"5b79d8dc.abbc48","name":"toSuhu","func":"var suhu = {\"payload\":msg.payload_fields.suhu.toString()}\nreturn suhu;","outputs":1,"noerr":0,"x":280,"y":240,"wires":[["da8e7381.6b0ef","ae5f1eb5.11cc8"]]},{"id":"b5a6a035.25884","type":"ui_chart","z":"5b79d8dc.abbc48","name":"","group":"dfe15c4d.c9224","order":2,"width":0,"height":0,"label":"Tekanan","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"28000","ymax":"70000","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":560,"y":360,"wires":[[]]},{"id":"d868d4af.207838","type":"function","z":"5b79d8dc.abbc48","name":"toPressure","func":"var tekanan = {\"payload\":msg.payload_fields.pressure.toString()}\nreturn tekanan;","outputs":1,"noerr":0,"x":290,"y":300,"wires":[["b5a6a035.25884"]]},{"id":"76ad69e7.001078","type":"maps","z":"5b79d8dc.abbc48","name":"uno1","path":"maps","maptitle":"Map Dashboard","x":1030,"y":700,"wires":[[]]},{"id":"92e57e81.cb937","type":"function","z":"5b79d8dc.abbc48","name":"parseMap","func":"var lat = {\"payload\":msg.payload_fields.location.lat.toString()}\nvar lon = {\"payload\":msg.payload_fields.location.lon.toString()}\n\nvar mapPayload = \n    {\n\t\"channel\": \"TEMP\",\n\t\"dataset\": [{\n\t\t\"lon\": lat,\n\t\t\"lat\": lon,\n\t\t\"name\": \"uno1\",\n\t\t\"description\": \"Temperature in uno\",\n\t\t\"value\": 0,\n\t\t\"unit\": \"°C\",\n\t\t\"iconColor\": \"Blue\"\n\t}]\n}\n\nreturn mapPayload;","outputs":1,"noerr":0,"x":280,"y":420,"wires":[[]]},{"id":"9cdb8aec.f43df8","type":"worldmap","z":"5b79d8dc.abbc48","name":"","lat":"","lon":"","zoom":"","layer":"Esri Ocean","cluster":"","maxage":"","usermenu":"show","layers":"show","panit":"false","panlock":"false","zoomlock":"false","hiderightclick":"false","coords":"none","showgrid":"false","path":"/worldmap","x":860,"y":740,"wires":[]},{"id":"be102ed7.4d554","type":"function","z":"5b79d8dc.abbc48","name":"worldMapPlot","func":"var lat = {\"payload\":msg.payload_fields.location.lat.toString()}\nvar lon = {\"payload\":msg.payload_fields.location.lon.toString()}\n\nmsg.payload = { \"name\":\"Jason\", \"lat\":-7.769271, \"lon\":110.371864 }\n \nreturn msg;\n\n","outputs":1,"noerr":0,"x":300,"y":480,"wires":[["9cdb8aec.f43df8"]]},{"id":"ed2763fe.c434e","type":"debug","z":"5b79d8dc.abbc48","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":850,"y":620,"wires":[]},{"id":"2fd66a44.204e26","type":"inject","z":"5b79d8dc.abbc48","name":"geo+Temp","topic":"","payload":"{\"lat\":-7.760184, \"lon\":110.374744, \"name\":\"Ben\", \"suhu\":26}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":240,"y":680,"wires":[["ed2763fe.c434e","9cdb8aec.f43df8","9d59adad.8ee2b"]]},{"id":"9d59adad.8ee2b","type":"ui_worldmap","z":"5b79d8dc.abbc48","group":"dfe15c4d.c9224","order":3,"width":0,"height":0,"name":"","lat":"-7.663508","lon":"110.440929","zoom":"11","layer":"Terrain","cluster":"","maxage":"","usermenu":"hide","layers":"hide","panit":"false","panlock":"false","zoomlock":"false","hiderightclick":"true","coords":"none","showgrid":"false","path":"/worldmap","x":860,"y":540,"wires":[]},{"id":"773d5ea7.8997f","type":"function","z":"5b79d8dc.abbc48","name":"toWorldMap","func":"var name = {\"payload\":msg.dev_id.toString()}\nvar lat = {\"payload\":msg.payload_fields.location.lat.toString()}\nvar lon = {\"payload\":msg.payload_fields.location.lon.toString()}\nvar suhu = {\"payload\":msg.payload_fields.suhu.toString()}\nvar ATM = {\"payload\":msg.payload_fields.pressure.toString()}\n\nreturn {\"name\":name,\"lat\":lat,\"lon\":lon,\"suhu\":suhu,\"ATM\":ATM};","outputs":1,"noerr":0,"x":290,"y":540,"wires":[["9d59adad.8ee2b","9cdb8aec.f43df8"]]},{"id":"a21a05d0.b38788","type":"inject","z":"5b79d8dc.abbc48","name":"injMappsssz","topic":"","payload":"[     {         \"channel\": \"TEMP\",         \"dataset\": [             {                 \"lon\": -7.717891,                 \"lat\": 110.388913,                 \"name\": \"9fj04r\",                 \"description\": \"Temperature in Madrid\",                 \"value\": 20.5,                 \"unit\": \"°C\",                 \"iconColor\": \"Blue\"             },             {                 \"lon\": -7.717604,                 \"lat\": 110.393022,                 \"name\": \"04jgpe\",                 \"description\": \"Temperature in London\",                 \"value\": 19,                 \"unit\": \"°C\",                 \"iconColor\": \"Yellow\"             },             {                 \"lon\": -7.714691,                 \"lat\": 110.391230,                 \"name\": \"lfj82k\",                 \"description\": \"Temperature in Paris\",                 \"label\": \"Alert for strong frosts\",                 \"value\": 11.7,                 \"unit\": \"°C\",                 \"iconColor\": \"Red\"             },             {                 \"lon\": -7.714287,                 \"lat\": 110.393837,                 \"name\": \"0lw233\",                 \"description\": \"Temperature in Berlin\",                 \"value\": 10.8,                 \"unit\": \"°C\",                 \"iconColor\": \"Red\"             }         ]     } ]","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":250,"y":740,"wires":[["9cdb8aec.f43df8","ed2763fe.c434e"]]},{"id":"64a9c255.ceae7c","type":"comment","z":"5b79d8dc.abbc48","name":"","info":"ngga perlu buffer geoloc, karena data masuk akan di chache","x":60,"y":720,"wires":[]},{"id":"663666db.849518","type":"inject","z":"5b79d8dc.abbc48","name":"","topic":"","payload":"{\"lat\":-7.754900, \"lon\":110.376765, \"name\":\"Jon\", \"suhu\":24}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":230,"y":800,"wires":[["9d59adad.8ee2b","9cdb8aec.f43df8"]]},{"id":"2d4dfac1.747f26","type":"inject","z":"5b79d8dc.abbc48","name":"JOSH","topic":"","payload":"{\"lat\": -7.765494, \"lon\":110.372452, \"name\":\"Josh\", \"suhu\":24}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":230,"y":860,"wires":[["9cdb8aec.f43df8","9d59adad.8ee2b"]]},{"id":"9319dc3.7cc052","type":"ttn app","z":"","appId":"loragpsindonesia","accessKey":"ttn-account-v2.sMxKucE7Gumf9POlE7Kc41njFDzhf8H_3wkVdFxb3OY","discovery":"discovery.thethingsnetwork.org:1900"},{"id":"dfe15c4d.c9224","type":"ui_group","z":"","name":"Suhu","tab":"64ef2dc4.b2f314","disp":true,"width":"6","collapse":false},{"id":"64ef2dc4.b2f314","type":"ui_tab","z":"","name":"Uno 1","icon":"test","disabled":false,"hidden":false}]